/* 문서 전체 글꼴은 맑은 고딕, 바깥여백 5px */
* {
    font-family: 맑은 고딕;
    margin: 5px;
}

/* header, footer 영역 - 안쪽여백 20, 배경색상, 가운데 정렬*/

header, footer {
    padding: 20px;
    background-color: aqua;
    text-align: center;
}

/* nav 영역 - 배경색, 가운데 정렬, 글자크기18, 진하게, 안쪽 여백 20*/
nav {
    background-color: azure;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

/* 하이퍼링크 - 밑줄 없음, 가로길이 100, 세로길이 30, 안쪽여백 10*/
a {
    text-decoration: none;
    width: 100px;
    height: 30px;
    padding: 10px;
    /* background-color: blue; */
    display: inline-block;
}

a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: rgb(229, 81, 81);
    background-color: cyan;
    text-decoration: underline;
}

/* 배경색상, 테두리, 가로 길이 48%, 높이200, */
section {
    background-color: rgba(255, 105, 180, 0.551);
    border: 3px solid black;
    width: 48%;
    height: 200px;
    float: left;
}

footer {
    clear: both;
}

/* 각 section의 제목 글자 색과 여백 동일 */
.C1 {
    font-weight: bold;
    color: white;
    padding: 10px;
}

/* 각 section의 제목의 배경 색상은 각각 다름 */
#S1 > h1 {
    background-color: brown;
}

#S2 > h1 {
    background-color:blueviolet
}

#S3 > h1 {
    background-color:darksalmon
}

#S4 > h1 {
    background-color:gold
}

#S5 > h1 {
    background-color: rgb(114, 114, 42);
}

#S6 > h1 {
    background-color: pink;
}