body {
    font-family: "맑은 고딕", "고딕", "굴림";
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    margin-left: auto; /* 바깥 왼쪽 여백 (자동)*/
    margin-right: auto; /* 바깥 오른쪽 여백 (자동)*/
    padding: 10px; /* 안쪽여백 (10px) */
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px; */
    /* padding: 10px 30px 50px 100px; 위쪽 오른쪽 아래쪽 왼쪽 순서대로 */
    overflow: hidden;
}

h1 {
    font-size: 2em;
    /* background-color: blueviolet; */
}

/* header의 자손인 h1태그에 적용 */
header h1 {
  color: rgb(31, 197, 136);
  width: 40%;
  float: left;
}

/*header 의 자식인 nav 태그에 적용*/
header > nav {
    /* background-color: aqua; */
    width: 50%;
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    /* background-color: darkseagreen; */
    display: inline;
    float: left;
    margin: 15px;
}

a {   /* nav a     or    nav ul li a*/
    text-decoration: none;
    color: aqua;
}

section {
    width: 80%; /* 영역 크기 지정 */
    margin-left: auto;    /* 영역 가운데 정렬 */
    margin-right: auto;   /* 영역 가운데 정렬 */
    border: 5px solid #333; /* 테두리 두께 색상지정 */
    /* border-width: ;
    border-style: ;
    border-color: ; 
    위쪽 내용 나열 */
    padding: 5px;   /* 안쪽 여백 (페딩) */
}

h2 {
    font-size: 1.8em;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px 10px rgb(198, 198, 198); /* p312-박스 그림자 지정 */
}

h3 {
    font-size: 1.3em;
    padding: 15px 0px 15px 10px;
    border-left: 5px solid #333;
}

p {
    font-size: 15px;
    line-height: 30px;
    margin: 20px;
}

dl {
    line-height: 30px;
    padding-left: 30px;
    margin-right: 30px;
}

dt {
    font-size: 1.1em;
    font-weight: bold;
    color: mediumvioletred;
}

article ul { 
    line-height: 30px;
}

footer {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.797);
    width: 80%; /* 영역 크기 지정 */ 
    padding: 10px;
    color: white;
    text-align: center;
}