h1 {
    font-family: "맑은고딕", "고딕", "굴림";
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    background-color:rgba(0, 255, 255, 0.49);

}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-family: "맑은고딕", "고딕", "굴림";
    font-size:1.3em;
    font-variant: small-caps;
    font-weight: bold;
}
